
<h1 class='title'>Welcome</h1>
<!-- yoti button -->
<span style="cursor: pointer;" id="get-qr-button">Get QR</div>

<br />
<span class="qr-code-output"></span>

<!-- required for yoti button -->
<script>
  document.getElementById('get-qr-button').addEventListener('click', function(){
    var output = document.querySelector('.qr-code-output');
    var o = new XMLHttpRequest();
        o.addEventListener('load', function(e){
          output.innerHTML = e.target.responseText;
        })
        o.open('GET', '/getqr')
        o.send();
  })
</script>
