<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- required for yoti button -->
    <script src="https://sdk.yoti.com/clients/browser.js"></script>
  </head>
  <body>
    {{{content}}}
    <!-- required for yoti button -->
    <script>
  	    _ybg.config.service = 'https://code.yoti.com/app/'
  	    _ybg.init()
  	</script>
  </body>
</html>
